@import "tailwindcss";

/* Використовуємо директиву з вашого прикладу для ручного перемикання */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Додаємо кольори, щоб класи gray-800 та gray-400 працювали */
  --color-gray-800: #1f2937;
  --color-gray-400: #9ca3af;
  --color-gray-900: #111827;
}